In [27]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [28]:
df = pd.read_csv('../csv/Batch 300 call đã gán nhãn_M3B.csv')

In [29]:
df

,file_name,criterion_name,audit_result,reason,group
0,1686296155875_3755_810349533873_525039757.mp3,Amount,UN,NaN,Collection
1,1684482083958_3770_810983451276_516462765.mp3,Identification of client,Yes,NaN,Collection
2,1684482083958_3770_810983451276_516462765.mp3,Reason of the call,Yes,NaN,Collection
3,1684482083958_3770_810983451276_516462765.mp3,Will you pay?,Yes,NaN,Collection
4,1684482083958_3770_810983451276_516462765.mp3,When,NaN,KH cúp ngang,Collection
...,...,...,...,...,...
7495,1685065025516_3730_810919274306_517547091.mp3,Save result,Yes,Payment promise,Collection
7496,1685065025516_3730_810919274306_517547091.mp3,COC,Yes,NaN,Collection
7497,1685065025516_3730_810919274306_517547091.mp3,Call Result,Willpay,NaN,Collection
7498,1684543504539_3737_810974214208_516483766.mp3,Follow the structure of the call,Yes,NaN,NaN
7499,1685667518948_3764_850981318994_518719620.mp3,Greeting,Yes,asr không bắt được tên nhân viên,NaN

In [31]:
df_call_result = df[df['criterion_name'] == "Call Result"]
df_call_result

,file_name,criterion_name,audit_result,reason,group
24,1684482083958_3770_810983451276_516462765.mp3,Call Result,Nopay,NaN,Collection
49,1684482109334_3771_810932104194_516462776.mp3,Call Result,Call không hợp tác,NaN,Collection
74,1684484668825_3776_810365496726_516470077.mp3,Call Result,Undefined,NaN,Collection
99,1684484804994_3753_810989015916_516470478.mp3,Call Result,Willpay,NaN,Collection
124,1684485272349_3648_810939424196_516471469.mp3,Call Result,Undefined,NaN,Collection
...,...,...,...,...,...
7397,1684997958420_3732_810968502918_517496149.mp3,Call Result,Nopay,NaN,Collection
7422,1684999898682_3739_810387660098_517502999.mp3,Call Result,Nopay,NaN,Collection
7447,1685003537288_3739_810886013317_517513797.mp3,Call Result,Willpay,NaN,Collection
7472,1685064372290_3743_810931516538_517542970.mp3,Call Result,Willpay,NaN,Collection
7497,1685065025516_3730_810919274306_517547091.mp3,Call Result,Willpay,NaN,Collection

In [36]:
df_call_result_willpay = df_call_result[df_call_result['audit_result'] == 'Willpay']
df_call_result_willpay.shape[0]

164

In [39]:
df_call_result_nopay = df_call_result[df_call_result['audit_result'] == 'Nopay']
df_call_result_nopay.shape[0]

57

In [40]:
df_call_result_paid = df_call_result[df_call_result['audit_result'] == 'Paid']
df_call_result_paid.shape[0]

0

In [41]:
print(f"Willpay: {df_call_result_willpay.shape[0]}, Nopay: {df_call_result_nopay.shape[0]}, Paid: {df_call_result_paid.shape[0]}")

Willpay: 164, Nopay: 57, Paid: 0